<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Register{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {{ form(form) }}

    <img src="https://robohash.org/{{ ip }}">

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
